@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar */
.sidebar {
  grid-row: 1 / -1;
  background-color: #1992d4;
  color: #fff;
  position: relative;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  font-weight: bold;
  position: sticky;
  top: 0px;
}

.sidebar-content > * {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.brand,
.nav li > a,
.misc li > a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-content li:not(:first-child, :last-child) {
  margin: 1rem 0;
}

.sidebar-content a:link {
  color: #fff;
  text-decoration: none;
}

.sidebar-content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-content a:visited {
  text-decoration: none;
}

.brand {
  font-size: 1.5rem;
}

.brand-icon {
  width: 2rem;
  height: 2rem;
}

.nav-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.sidebar-icon {
  fill: #fff;
}

/* header */
.header {
  background-color: #fff;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.header-upper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.search-bar {
  justify-self: center;
  width: 90%;
  display: flex;
  gap: 1rem;
}

#search {
  width: 100%;
  background-color: #e2e8f0;
  border: none;
  border-radius: 20px;
}

.user-info {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.notification-icon {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

.notification-number {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  top: -12px;
  right: -12px;
}

.user-icon-small {
  width: 2rem;
  height: 2rem;
}

.user-icon-small img {
  width: 100%;
  border-radius: 50%;
}

.user-name-small {
  font-weight: bold;
}

/* style for hyperlinks in the header and the main */
.user-name-small > a:link,
.card-content-subject > a:link,
.announcement-subject > a:link,
.trending-member-username > a:link {
  color:#000;
  text-decoration: none;
}

.user-name-small > a:hover,
.card-content-subject > a:hover,
.announcement-subject > a:hover,
.trending-member-username > a:hover {
  text-decoration: underline;
}

.header-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow: auto;
}

.welcome-message,
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.welcome-message {
  padding-bottom: 1rem;
}

.user-icon-large {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 6px;
}

.user-icon-large > img {
  width: 100%;
  border-radius: 50%;
}

.user-name-large > p {
  margin: 0;
  font-weight: bold;
}

.hi-there {
  font-size: 0.7rem;
}

.user-name {
  font-size: 1.5rem;
}

.buttons {
  justify-content: center;
  gap: 1.5rem;
  margin-left: 30%;
}

.buttons > button {
  border: 0;
  padding: 8px 1rem;
  background-color: #1992d4;
  color: #fff;
  border-radius: 20px;
}

.buttons > button:hover {
  cursor: pointer;
  background-color: #6caccf;
  transition: 0.5s;
}

/* main content */
main {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 1rem;
  font-weight: bold;
  padding: 1.5rem;
  position: relative;
}

.cards {
  display: grid;
  padding-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.project-card {
  background-color: #fff;
  min-width: 300px;
  min-height: 200px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 40fr;
}

.card-flag {
  height: 100%;
  background-color: #f0b429;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card-content {
  padding: 1.5rem;
  position: relative;
}

.card-content-subject,
.announcement-subject {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-content-text,
.announcement-text,
.trending-member-username,
.trending-member-status {
  font-size: 0.8rem;
  font-weight: normal;
  color: #8b8b8b;
}

.card-content-icons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.non-project-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.non-project-cards > div {
  min-width: 70px;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 12px;
}

.announcements .announcement-article:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.announcements .announcement-article:not(:first-child) {
  padding-top: 1rem;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending-member {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending-profile-pic {
  width: 2rem;
  height: 2rem;
}

.trending-profile-pic img {
  width: 100%;
  border-radius: 50%;
}

.trending-member-username {
  color: #000;
}

.top-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50%;
  background-color: #fff;
}